{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $ntfyTopic := promptStringOnce . "ntfyTopic" "ntfy notification topic" -}}

[data]
    email = {{ $email | quote }}
    ntfyTopic = {{ $ntfyTopic | quote }}
